body {
      font-family: 'Poppins', sans-serif;
      background-color: #ffffff;
      color: #2E2E2E;
      
    }

    :root {
  --gato-glow: #c5ff00; /* amarillo verdoso brillante */
}



    .btn-primary:focus,
    
    .btn-primary:focus:active,
    .btn-primary:visited {
      background-color: #162d6d !important;
      color: #FFFFFF !important;
      box-shadow: none !important;
      border-color: transparent !important;
      outline: none !important;
    }

    header {
      background-color: #1E3A8A;
    }

    h1, h2, h5 {
      color: #1E3A8A;
    }

    .btn-primary {
      background-color: #1E3A8A;
      border: none;
      transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
      background-color: #2256e3;
      box-shadow: 0 0 10px rgba(16, 185, 129, 0.4);
    }

    .card {
      border-radius: 16px;
      border: none;
    }

    .card-body {
      padding: 24px;
    }

    .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(197, 255, 0, 0.4); /* glow suave */
  border: 1px solid var(--gato-glow);
}

.card:hover i {
  color: var(--gato-glow) !important;
}

    .navbar-nav .nav-link {
      color: #1E3A8A;
    }

    .navbar-nav .nav-link:hover {
      color: #5f75b3;
    }
    .seccion {
    padding-top: 7rem;
    
}

  nav .navRedes1{
      text-decoration: none !important;
      color: #1E3A8A;
    }
    nav .navRedes2{
      text-decoration: none;
      display: inline-block;
    }
    nav .navRedes1:hover .navRedes2{
     color: #5f75b3; /* Cambia a tu color preferido */
      transition: color 0.3s ease;
    }

    .logo-nav {
  border-radius: 10%;             /* Hace la imagen redonda */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Sombra suave al lado derecho */
  object-fit: cover;  }            /* Evita que la imagen se distorsione */

  .text-purple {
  color: #7952b3;
}
.bg-purple {
  background-color: #7952b3;
}

.progress-bar {
  transition: width 1.8s ease-in-out;
}

    .foto-perfil{
      border-radius: 5%;
    }


    footer {
      border-top: 1px solid #e5e5e5;
    }

    .list-group-item {
      background-color: transparent;
      border: none;
    }
