body {
      font-family: 'Poppins', sans-serif;
      background-color: #ffffff;
      color: #2E2E2E;
      
    }
    .btn-primary:focus,
    
    .btn-primary:focus:active,
    .btn-primary:visited {
      background-color: #162d6d !important;
      color: #FFFFFF !important;
      box-shadow: none !important;
      border-color: transparent !important;
      outline: none !important;
    }

    header {
      background-color: #1E3A8A;
    }

    h1, h2, h5 {
      color: #1E3A8A;
    }

    .btn-primary {
      background-color: #1E3A8A;
      border: none;
      transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
      background-color: #2256e3;
      box-shadow: 0 0 10px rgba(16, 185, 129, 0.4);
    }

    .card {
      border-radius: 16px;
      border: none;
    }

    .card-body {
      padding: 24px;
    }

    .navbar-nav .nav-link {
      color: #1E3A8A;
    }

    .navbar-nav .nav-link:hover {
      color: #5f75b3;
    }
    .seccion {
    padding-top: 7rem;
    
}

  nav .navRedes1{
      text-decoration: none !important;
      color: #1E3A8A;
    }
    nav .navRedes2{
      text-decoration: none;
      display: inline-block;
    }
    nav .navRedes1:hover .navRedes2{
     color: #162d6d; /* Cambia a tu color preferido */
      transition: color 0.3s ease;
    }

    .foto-perfil{
      border-radius: 5%;
    }


    footer {
      border-top: 1px solid #e5e5e5;
    }

    .list-group-item {
      background-color: transparent;
      border: none;
    }
